* {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--normal-font-size);
  color: var(--text-dark);
}

:root {
  --text-dark: #727272;
  --body-color: #ffffff;
  --text-light: #ffffff;
  --normal-font-size: 1;
  --small-font-size: 0.85rem;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.btn {
  padding: 0.5rem 4rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #2c7edb;
  color: var(--text-light);
}

.btn-success {
  background-color: #29b363;
  color: var(--text-light);
}

.mx-2 {
  margin: 0 2rem;
}

.container {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.header {
  height: 65px;
  display: flex;
  width: 100%;
}

.logo-header {
  margin-left: 8rem;
  height: 100%;
  margin-right: auto;
}

.logo-header img {
  height: 100%;
}

.info {
  height: 100%;
  display: flex;
  margin-right: 8rem;
}

.profile {
  margin-top: 15px;
  white-space: pre;
  margin-right: 0.5rem;
}

.profile-name {
  color: #7a7a7a;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avatar img {
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.caption {
  background-color: #29b363;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-light);
  line-height: 2.5rem;
}

.caption span {
  font-size: var(--small-font-size);
}

.question {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.question-action {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.divider {
  display: flex;
  padding-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 500px;
  max-width: 90%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-desc {
  color: #a5a5a5;
  text-align: center;
}

.copyright {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  :root {
    --small-font-size: 0.87rem;
    --normal-font-size: 0.938rem;
  }
  .btn {
    padding: 0.5rem 1.5rem;
  }

  .logo-header {
    margin-left: 2rem;
  }

  .info {
    margin-right: 2rem;
  }
}
