*{
  margin: 0;
  padding: 0;
}

:root{
  --text-dark: #727272;
  --body-color: #ffffff;
  --text-light:#ffffff;
  --small-font-size: 0.87rem;
}

.header{
  height: 65px;
  display: flex;
  width: 100%; 
}

.logo-header{
  margin-left: 8rem;
  height: 100%;
  margin-right: auto;
}

.logo-header img{
  height: 100%;
}

.info{
  height: 100%;
  display: flex;
  margin-right: 8rem;
}

.profile{
  margin-top: 15px;
  margin-right: .5rem;
}

.profile-name{
  color: #7a7a7a;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img{
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.caption{
  background-color: #29b363;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-light);
  line-height: 2.5rem;
}

.caption span{
  font-size: var(--small-font-size);
}

