*{
  margin: 0;
  padding: 0;
}

.header{
  height: 65px;
  display: flex;
  width: 100%; 
}

.logo-header{
  margin-left: 8rem;
  height: 100%;
  margin-right: auto;
}

.logo-header img{
  height: 100%;
}

.info{
  height: 100%;
  display: flex;
  margin-right: 8rem;
}

.profile{
  margin-top: 15px;
  margin-right: .5rem;
}

.profile-name{
  color: #7a7a7a;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img{
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}